.col-4 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    float: left;
}

.col-3 {
    width: 70%;
    padding: 5%;
}

.col-2 {
    width: 50%;
}

.col-1 {
    width: 50%;
    height: 30vh;
    margin-top: 4vh;
    float: left;
    opacity : 0;
}

img {
    overflow: hidden;
}

h1 {
    font-size: 35px;
    margin: 0;
    padding-top: 5vh;
    font-family: 'Yu Gothic', sans-serif;
}

h2 {
    width: 300px;
    text-align: left;
/*    margin-left: 215px;*/
}

header {
    background-image:url(images/bgGOHOME.jpg);
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    text-align: center;
    
}

.float {  
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.float pic {
    position:relative;
}

a {
    text-decoration: none;
    
}

a:link {color: snow; }
a:visited { color: snow; }


/*
nav {
    margin-right: 20px;
    padding-top: 13px;
    position: absolute;
    z-index:1px;
	top:0px;
	left:30px;
    float: right;
}

li {
    display: inline;
    margin: 0px 10px;
}
*/


body {
     width: 100%;
    margin: 0;
    padding: 0;
    background-color: #150F4A;
    font-family: 'Yu Gothic', sans-serif;
    color: snow;
    text-align: center;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.checkpoint {
    background-image: url(images/denisse-leon-368446-unsplash.png);
    height: 120vh;
    overflow: hidden;
    background-size: cover;
/*    padding: 100px;*/
    color: snow;
/*
    padding-left:300px;
    padding-right: 300px;
*/
    padding: 0px ;
    text-align: center;
}

.checkpoint h2 {
    font-family: 'Yu Gothic', sans-serif;
    font-size: 20px;
}

.save img{
    float: right;
    margin-right: 50px;
}

.valuable img{
    float: left;
}

.homework img{
    float: right;
    margin-right: 50px;
}

.savewords h1{
    text-align: left;
    margin-left: 50px;
}

.valuablewords h1{
    text-align: right;
    margin-right: 110px;
}

.homeworkwords h1{
    text-align: left;
    margin-left: 50px;
}

.savewords h2{
    margin-left: 50px;
}

.valuablewords h2{
    margin-left: 350px;
}

.homeworkwords h2{
    margin-left: 50px;
}

.homework{
    margin-bottom: 5vh;
}
.homeworkwords{
    margin-bottom: 5vh;
}

.parent{
    height: 100vh;
    position: relative;
    background-color: #000020;
     
}

.clock{
    overflow: hidden;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #e900ab;
    text-shadow: 5px 8px 6px snow;
    font-size: 300px;
    letter-spacing: 7px;
    font-family: "03SmartFontUI";
/*    font-family: "Houschka Rounded",Bold;*/
}

.music {
    float: left;
    height: 100vh;
    width: 100%;
    
}

.music iframe{
    margin: 5%;
    margin-top: 5%;
}

/*
.youtube {
    margin: 0%;
    margin-right: 0px;
}
*/

.music h5 {
    font-family: 'Yu Gothic', sans-serif;
    font-size: 13px;
    display: inline-block;
    padding: 0px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 25px;
    margin-top: 0px;
    width: 20%;
}

.line {
    height: 250px;
}


